<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrumpTweetThat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F09C0E131CEC47DC004EE7F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09C0E2C1CEC47DC004EE7F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09C0E371CEC47DC004EE7F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
